.grid-half-first, .grid-full-text {
  grid-column-start: 1;
}

h2 {
  margin-top: 1em;
}

h4 { 
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

.tito-wrapper {
  max-width: none;
}