.name {
  font-weight: bold;
  font-size: 1.1em;
  color: #D95B5B;
  font-family: Arial Black, Geneva, Verdana, sans-serif;
}

p {
  margin-bottom: 0.5em;
}

h1 {
  color: #1A7173;
  text-transform: uppercase;
}

.avatar {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 1em;
}

.organizer {
  width: 220px;
  padding: 0 1em 1em 0;
}

.grid-third-1 {
  grid-column: 2/span 3;
  justify-self: end;
}

.grid-third-2-3 {
  padding-left: 1em;
  grid-column: 5/span 9;
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 950px) {
  .grid-third-1,
  .grid-third-2-3  {
    justify-self: flex-start;
    grid-column: 2/span 14;
  }
}