/** Palette
  Secondary Color: #831D1D
  Buttons: #F2DC1A
  Accent Colors: #D95B5B
  Background: #3D808F
  Header/Meta Text: #02292E
  Secondary Text: #1A7173
*/

body {
  font-family: Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: 1.4em;
  margin-bottom: 1.4em;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: bold;
  padding-bottom: 12px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2em;
}

input {
  padding: 3px 8px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
}

.button-primary {
  background: #F2DC1A;
  color: #1A7173;
}

.button-secondary {
  background: #1A7173;
  color: #fff;
}

.button-primary, .button-secondary {
  border-radius: 18px;
  padding: 6px 12px;
}

.hero {
  position: relative;
  margin: 0 0 -100px;
}

.about {
  padding-top: 65px;
  background: #1A7173;
  color: white;
  z-index: -2;
}

.newsletter {
  background: #D95B5B;
  color: white;
  text-align: center;
}

.speakers {
  position: relative;
  background: #F2DC1A;
  text-align: center;
}

.speakers::before{
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(-3deg);
}

.coc {
  position: relative;
  background: #831D1D;
  color: #fff;
}

.coc .heading {
  font-size: 2em;
  text-align: right;
}

.section {
  padding: 4em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 250px;
}

.heading {
  text-transform: uppercase;
}

.subheading {
  text-transform: none;
}

.nav-top, .nav-bottom {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-around;
}

.footer {
  background: #02292E;
}

.footer a {
  font-size: 0.9em;
  color: #fff;
}

.footer .icon {
  font-size: 1.4em;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-top a {
  color:#000;
}

.nav-top a:hover, .nav-top a:active {
  text-decoration: underline;
}

.nav-social 
.nav-contact {
  flex: 1;
}

.nav-social {
  align-self: flex-end;
}

.nav-left, 
.nav-right {
  display: flex;
}

.nav-left li {
  padding-right: 1em;
}

.nav-right li {
  padding-left: 1em;
}

/*----- SVG Art -----*/

.aloha, .flipflops, .towel {
  position: absolute;
}

.aloha {
  width: 50%;
  max-width: 600px;
}

.towel {
  width: 120px;
  -webkit-box-shadow: -7px 5px 11px -1px #545454;
  box-shadow: -7px 5px 11px -1px 545454;
}

.towel-green {
  right: 100px;
  bottom: 60px;
  transform: rotate(-10deg);
}

.towel-red {
  right: 250px;
  bottom: -60px;
  transform: rotate(-10deg);
}

.flipflops {
  width: 250px;
  top: -150px;
  left: 100px;
}

/*----- Grid layout -----*/
.grid {
  display: grid;
  grid-template-columns: 1rem repeat(12,minmax(1rem,3.75rem)) 1rem;
  grid-gap: .25rem;
}

.grid-full {
  grid-column: 2/span 12;
}

.grid-three-quarters {
  grid-column: 2/span 9;
}

.grid-half-first {
  grid-column-start: 2;
  grid-column-end: 8;
  padding-right: 1em;
  justify-self: end;
}

.grid-half-second {
  grid-column-start: 8;
  grid-column-end: 13;
}

/*----- Mailchimp signup -----*/
.signup-form {
  margin-top: 1em;
}

.mc-field-group {
  display: inline-block;
}

/*----- Media queries -----*/
@media screen and (max-width: 1300px){
  .towel-green {
    right: 5px;
    bottom: 0px;
  }

  .towel-red {
    right: 150px;
  }
}

@media screen and (max-width: 1050px){
  .towel, .flipflops {
    display: none;
  }
}